@import './themes.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'League Spartan', sans-serif;
    font-size: 4vw;
}

:root {
    --button-size: 4rem;
    --border-radius: .8rem;
    --border-max: 9999rem;
    --toggle-box-width: 4.4rem;
    --toggle-box-height: 1.6rem;
    --toggle-circle: 1rem;
    --key-volume: .3rem;
    --key-gap: 1rem;

    --font-s: 0.6rem;
    --font-l: 2.5rem;
}

.font-s {
    font-size: var(--font-s);
}

.font-l {
    font-size: var(--font-l);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-output);
    background-color: var(--background-main);
}

main {
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc > * {
    margin-bottom: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
}

#toggle-cont {
    display: grid;
    grid-template-columns: auto auto;
    gap: .5em;
}

#toggle-positions {
    padding: 0 calc(var(--toggle-box-height) / 2);
    display: flex;
    justify-content: space-between;
}

#toggle-title-wrapper {
    width: var(--toggle-box-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-switcher {
    background-color: var(--background-keypad);
    height: var(--toggle-box-height);
    width: var(--toggle-box-width);
    border-radius: var(--border-max);
    display: flex;
    align-items: center;
}

#toggle-circle {
    background-color: var(--key-group2-bg);
    height: var(--toggle-circle);
    width: var(--toggle-circle);
    border-radius: var(--border-max);
}

#toggle-switcher[data-theme="1"] > #toggle-circle {
    transform: translateX(calc( (var(--toggle-box-height) - var(--toggle-circle)) / 2 ));
}

#toggle-switcher[data-theme="2"] > #toggle-circle {
    transform: translateX(calc( (var(--toggle-box-width) - var(--toggle-circle)) / 2 ));
}

#toggle-switcher[data-theme="3"] > #toggle-circle {
    transform: translateX(calc( var(--toggle-box-width) - (var(--toggle-box-height) - var(--toggle-circle)) / 2 - var(--toggle-circle) ));
}

#output {
    border-radius: var(--border-radius);
    background-color: var(--background-output);
    min-height: 5.5rem;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    word-break: break-all;
}

#pad {
    border-radius: var(--border-radius);
    background-color: var(--background-keypad);
    padding: 1.5rem;

    display: grid;
    grid-template-columns: repeat(4, var(--button-size));
    grid-template-rows: repeat(5, var(--button-size));
    gap: calc(var(--key-gap) + var(--key-volume)) var(--key-gap);
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}

.color-button1 {
    color: var(--text-primary);
    background-color: var(--key-group1-bg);
    box-shadow: 0 var(--key-volume) var(--key-group1-shadow);
}

.color-button2 {
    color: white;
    background-color: var(--key-group2-bg);
    box-shadow: 0 var(--key-volume) var(--key-group2-shadow);
}

.color-button3 {
    color: white;
    background-color: var(--key-group3-bg);
    box-shadow: 0 var(--key-volume) var(--key-group3-shadow);
}

#button-reset, #button-equal {
    grid-column: span 2;
}

#attribution span { font-size: .5rem; text-align: center; }
#attribution a { font-size: .5rem; color: var(--key-group2-bg); }